<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="showUsers">
  <div class="listUsers">
    <ul>
	  <!-- on peut aussi passer un user à selectUser, ce qui permet de se passer de l'index -->
      <li *ngFor="let user of users ; let i = index">
        <a (click)="selectUser(i)" href="#">{{user.name}}</a>
      </li>
    </ul>
  </div>
  <div class="userItems" *ngIf="selected">
    <h2>id = {{selectedUser.id}}</h2>
    <h3>name = {{selectedUser.name}}</h3>
    <h4>jobTitle = {{selectedUser.jobTitle}}</h4>
    <img src={{selectedUser.image}} alt="">
  </div>
</div>
