<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <ul>
    <li *ngFor="let user of users ; let i = index" (click)="selectUser(i)"> user num {{i}} = {{user.name}} </li>
  </ul>
</div>
<div *ngIf="selected">
  <ul>
    <li>id = {{selectedUser.id}}</li>
    <li>name = {{selectedUser.name}}</li>
    <li>image = {{selectedUser.image}}</li>
    <li>jobTitle = {{selectedUser.jobTitle}}</li>
  </ul>
  <img src={{selectedUser.image}} alt="">

</div>
